# This file serves as a template for the required environment variables.
# Copy this file to .env and fill in the values for your local environment.

# Set to "true" when running the application locally.
# This is used by the scraper to switch to a local-friendly puppeteer configuration.
IS_LOCAL=true

# The log level for the application.
# Can be one of 'trace', 'debug', 'info', 'warn', 'error', 'fatal'.
# Defaults to 'info' if not set.
LOG_LEVEL=debug

# The host for the Firestore emulator.
# If this variable is set, the application will connect to the emulator instead of the real database.
# Example: FIRESTORE_EMULATOR_HOST=localhost:8080
FIRESTORE_EMULATOR_HOST=
