openapi: 3.0.0
info:
  title: Bond Analyzer API
  description: An API to analyze Argentine corporate bonds (Obligaciones Negociables).
  version: 1.0.0
servers:
  - url: https://us-central1-merval-analyst.cloudfunctions.net
paths:
  /analyze-bond:
    post:
      operationId: analyzeBond
      summary: Get a detailed analysis for a given bond ticker.
      description: This endpoint provides a comprehensive analysis of a corporate bond.
      requestBody:
        description: The ticker symbol of the bond to analyze.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ticker:
                  type: string
                  description: The ticker symbol of the asset (e.g., MGC9O).
                  example: MGC9O
              required:
                - ticker
      responses:
        "200":
          description: Successful analysis of the bond.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BondAnalysis"
components:
  schemas:
    BondAnalysis:
      type: object
      properties:
        ticker:
          type: string
          description: The ticker symbol of the bond.
          example: MGC9O
        name:
          type: string
          description: The name of the bond.
          example: Obligación Negociable Pampa Energía Clase 9
        type:
          type: string
          description: The type of the bond.
          enum:
            - Corporate Bond
            - Sovereign Bond
          example: Corporate Bond
        currency:
          type: string
          description: The currency of the bond.
          enum:
            - USD
            - ARS
          example: USD
        marketData:
          $ref: "#/components/schemas/MarketData"
        technicalAnalysis:
          $ref: "#/components/schemas/TechnicalAnalysis"
        cashflowSummary:
          $ref: "#/components/schemas/CashflowSummary"
        verdict:
          $ref: "#/components/schemas/Verdict"
    MarketData:
      type: object
      properties:
        price:
          type: number
          description: The last recorded price of the bond.
          example: 103.50
        lastUpdated:
          type: string
          format: date-time
          description: The last time the price was updated.
          example: "2024-01-09T14:30:00Z"
    TechnicalAnalysis:
      type: object
      properties:
        tirAnnualPercent:
          type: number
          description: The annual internal rate of return (TIR).
          example: 8.5
        parityPercent:
          type: number
          description: The parity of the bond in percentage.
          example: 101.2
        currentYieldPercent:
          type: number
          description: The current yield of the bond in percentage.
          example: 9.2
        durationModified:
          type: number
          description: The modified duration of the bond.
          example: 1.8
        maturityDate:
          type: string
          format: date
          description: The maturity date of the bond.
          example: "2026-12-08"
    CashflowSummary:
      type: object
      properties:
        paymentFrequency:
          type: string
          description: The frequency of the bond's payments.
          enum:
            - Semiannual
            - Annual
            - Quarterly
            - Monthly
            - Other
          example: Semiannual
        nextPaymentDate:
          type: string
          format: date
          description: The date of the next payment.
          example: "2025-06-08"
        nextPaymentAmountPer100:
          type: number
          description: The amount of the next payment per 100 units of the bond.
          example: 4.75
        residualValuePercent:
          type: number
          description: The residual value of the bond in percentage.
          example: 100
    Verdict:
      type: object
      required:
        - status
        - riskLevel
        - recommendation
      properties:
        status:
          type: string
          description: The status of the bond, based on its parity.
          enum:
            - Discount
            - Par
            - Premium
          example: Premium
        riskLevel:
          type: string
          description: The estimated risk level of the bond.
          enum:
            - Low
            - Medium
            - High
          example: Low
        recommendation:
          type: string
          description: A textual recommendation for the bond.
          enum:
            - Buy
            - Hold
            - Sell
            - Strong Buy
            - Strong Sell
          example: Hold
